<div class="kui-flex-wrap">
  <style>
    .kui-software-key{height:0px}#__kai_router__{height:266px!important;}.kui-router-m-bottom{margin-bottom:0px!important;}
    .mt {margin-top: 8px;}
  </style>
  <div class="kai-container" style="padding:5px;font-size:85%;">
    <div>1) <b>Habit Tracker</b> only support <b>daily</b> counter</div>

    <div class="mt">2) You can only click <b>Relapse</b> or <b>Check-In</b> once a day</div>

    <div class="mt">3) Feel free to adjust your <b>Target Day</b></div>
    
    <div class="mt">
      <div>4) <b>What is consider as Positive:</b></div>
      <div class="mt">* If you want to make good habits every day, pick <b>Positive</b>, eg; Learn English, Read Book, etc</div>
      <div class="mt">* If your <b>Target Day</b> is 10, make sure to <b>Check-In</b> every day for 10 consecutive days starting from the <b>Start Date</b> to achieve a 100% <b>Progress</b> score</div>
      <div class="mt">* <b>Progress</b> score is reset to 0 if you forgot to click <b>Check-In</b> everyday</div>
      <div class="mt">* Do your best to keep <b>Check-In</b> every day to keep your <b>Idle Days</b> as low as possible</div>
      <div class="mt">* High number of <b>Idle Days</b> is considered bad</div>
      <div class="mt">* Low number of <b>Check-In Counter</b> is considered bad</div>
    </div>

    <div class="mt">
      <div>5) <b>What is consider as Negative:</b></div>
      <div class="mt">* If you want to quit bad habits every day, pick <b>Negative</b>, eg; Quit Smoking, Quit Gambling, etc</div>
      <div class="mt">* If your <b>Target Day</b> is 10, try your best not to <b>Relapse</b> between the <b>Start Date</b> to 10 days after the <b>Start Date</b> to achieve a 100% <b>Progress</b> score</div>
      <div class="mt">* <b>Progress</b> score is reset to 0 if you click <b>Relapse</b></div>
      <div class="mt">* Try your best not to <b>Relapse</b> to keep your <b>Restrain Days</b> as high as posibble</div>
      <div class="mt">* Low number of <b>Restrain Days</b> is considered bad</div>
      <div class="mt">* High number of <b>Relapse Counter</b> is considered bad</div>
    </div>

  </div>
</div>
